@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Real Head Pro';
  src: url('/assets/fonts/RealHeadPro-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Real Head Pro';
  src: url('/assets/fonts/RealHeadPro-Medium.woff2') format('woff2');
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .section-full {
    @apply min-h-screen w-full relative overflow-hidden;
  }

  .dept-description {
    font-weight: 300 !important;
    line-height: 70px !important;
    font-size: 30px !important;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}